
<div class="w-full">
      <%= link_to "/#{@current_locale}/admin/#{@current_user.id}", id:"back", class:"absolute" do %>
    <div class="flex flex-end items-center space-x-3 px-2 rtl:space-x-reverse cursor-pointer">
    <img src="/images/friends/undo-arrow.png" class="h-8 flex flex-end items-center transform hover:scale-x-110 hover:scale-y-105 transition duration-300 ease-out cursor-pointer mt-2 ml-2" alt="Undo friend"/>
      <!--<img src="/images/icons/logout_tertiary.png" class="h-8 hidden dark:block" alt="Settings" />-->
    </div>
  <% end %>
  <div class="flip-card-login flex flex-col justify-center mt-[100px]"> 
    <div id="flipCard" class="relative dark:border-tertiary-default shadow-md dark:border flip-card-login-inner w-screen mx-auto sm:w-[400px] sm:w-[400px] rounded-md ">
      <div class=" py-5 inset-0">
        <div class="text-xl mb-10 font-bold text-tertiary-default">
            <%= t('admin.moderator.title')  %>
        </div>
        <%= form_with(url: "/#{I18n.locale || I18n.default_locale}/moderator/#{@current_user.id}/create", method: :post) do |form|%>
            <div class="w-3/4 m-auto relative mb-10 max-w-sm focus:outline-none">
                <%= form.text_field :username, id: "username_register_field", name: "user[username]", class: "bg-secondary-default no-autocomplete-field-green focus:outline-none text-white dark:text-black placeholder-white dark:placeholder-black border-none focus:ring-0 w-full rounded-lg autofill shadow-md", placeholder: "#{t('login_or_register.username')}"%>
                <label class="absolute hidden bottom-[-15px] text-error-default text-xs left-0" for="username_register_field" id="usernameRegisterAvailabilityMessage"><%= t('login_or_register.usernameCheck') %></label>
            </div>
            <div class="w-3/4 m-auto relative flex mb-10 rounded-xl max-w-sm focus:outline-none">
              <%= form.text_field :email_address, id: "email_register_field", name: "user[email_address]", class: "bg-secondary-default no-autocomplete-field-green focus:outline-none text-white dark:text-black placeholder-white dark:placeholder-black border-none focus:ring-0 w-full rounded-lg autofill shadow-md", placeholder: "#{t('login_or_register.e-mail')}", value: @email_address %>
              <label class="absolute hidden bottom-[-15px] text-error-default text-xs left-0" for="identifier_register_field" id="emailRegisterValidityMessage"><%= t('login_or_register.emailCheck') %></label>
            </div>
                <div class="w-3/4 m-auto relative flex mb-20 rounded-xl max-w-sm focus:outline-none">
                <%= form.password_field :password, id: "password_register_field", name: "user[password]", class: "bg-secondary-default no-autocomplete-field-green focus:outline-none text-white dark:text-black placeholder-white dark:placeholder-black border-none focus:ring-0 w-full rounded-lg autofill shadow-md", placeholder: "#{t('login_or_register.password')}" %>
            </div>
                <div class="m-auto max-w-xs mx-auto">
                <%= form.submit "#{t('admin.moderator.button')}", class: "disabled:bg-opacity-50 w-1/2 mx-auto text-center max-w-[150px] text-white dark:text-black py-2 bg-primary-default items-center rounded-md shadow-2xl cursor-pointer overflow-hidden disabled:cursor-default" %>
            </div>
        <% end %>
    </div>
  </div>      
</div>
</div>
