<div class="w-full">
	<%= link_to "/#{@current_locale}/user/#{@current_user.id}", id:"logout-mobile", class:"absolute" do %>
		<div class="flex flex-end items-center space-x-3 px-2 rtl:space-x-reverse cursor-pointer">
			<img  src="/images/friends/undo-arrow.png" class="h-8 flex flex-end items-center transform hover:scale-x-110 hover:scale-y-105 transition duration-300 ease-out cursor-pointer mt-2 ml-2" alt="Undo friend"/>
		</div>
	<% end %>

	<h1 class="text-4xl font-bold m-auto w-full text-center text-secondary-default dark:text-tertiary-default mt-10" ><%= t('games.ongoing') %></h1>

	<div class="relative dark:border-tertiary-default shadow-md dark:border flip-card-inner w-screen mx-auto sm:w-[400px] rounded-md mt-8 h-[calc(100vh-300px)] min-h-[90px] overflow-scroll">
		<ul>
			<% @games.each do |game| %>
				<a href="/<%= @current_locale %>/user/<%= @current_user.id %>/games/<%= game.id %>"  class="px-4 py-4 sm:px-6">
					<div class="transform hover:scale-x-110 hover:scale-y-105 transition duration-300 ease-out cursor-pointer">
						<div class="text-secondary-default text-bold dark:text-tertiary-default">Game <%= game.id %></div> 
						<div class="text-primary-default dark:text-tertiary-default text-xl"><%= game.player1.username %> VS <%= game.player2.username %></div>
					</div>
				</a>
			<% end %>
		</ul>
	</div>
	<div class="flex mt-6 w-1/2 mx-auto max-w-xs bg-tertiary-default transform hover:scale-x-110 hover:scale-y-105 transition duration-300 ease-out rounded-md">
		<a href="create" class="text-center w-full p-2 text-white dark:text-black max-w-xs cursor-pointer p-2 rounded-md">
			<%= t('games.start') %>
		</a>
	</div>
</div>
