<!DOCTYPE html>

<%= tag.div(id:"html", class: "#{@current_user&.theme}") do%>
  <head>
    <title>guess all</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
 
    <%= javascript_importmap_tags %>

      <meta name="locale" content="<%= @current_locale %>">

  </head>

  <body>
    <main class="w-screen min-h-screen bg-white dark:bg-black flex flex-col">

      <nav class="bg-secondary-default dark:bg-tertiary-default hidden sm:flex justify-between items-center p-4 border-gray-200">
        <%= link_to "/", class:"flex items-center flex-1" do %>
          <div class="flex items-center space-x-3 rtl:space-x-reverse flex-1 transform hover:scale-x-110 hover:scale-y-105 transition duration-300 ease-out">
            <img src="/images/logo.png" class="h-8 " alt="Guess all Logo" />
            <span class="self-center text-2xl font-semibold whitespace-nowrap text-white dark:text-black">Guess All</span>
          </div>
        <% end %>
        <div class="flex justify-center flex-1">
         <% if !@current_user.present? %>
          <!-- Locale toggle buttons -->
          <!--<div class="max-w-xs bg-tertiary-default cursor-pointer p-2 transform hover:scale-x-110 hover:scale-y-105 transition duration-300 ease-out rounded-md text-white dark:text-black">-->
          <% if I18n.locale == :en %>
            <div class="max-w-xs p-2 transform hover:scale-x-110 hover:scale-y-105 transition duration-300 ease-out">
              <%= link_to "Italiano", url_for(locale: 'it'), class: "cursor-pointer rounded-md text-white dark:text-black" %>
            </div>
            <div class="max-w-xs bg-tertiary-default dark:bg-secondary-default p-2 rounded-md text-white dark:text-black">
              English
            </div>
            <% else %>
              <div class="max-w-xs bg-tertiary-default dark:bg-secondary-default p-2 rounded-md text-white dark:text-black">
                Italiano
              </div>
              <div class="max-w-xs p-2 rounded-md text-white dark:text-black transform hover:scale-x-110 hover:scale-y-105 transition duration-300 ease-out ">
                <%= link_to "English", url_for(locale: 'en'), class: "text-white dark:text-black cursor-pointer" %>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="flex justify-end flex-1">
          <!-- Logout button -->
          <!--
            <div class="max-w-xs bg-primary-default cursor-pointer p-2 transform hover:scale-x-110 hover:scale-y-105 transition duration-300 ease-out rounded-md text-white dark:text-black">
              <%= link_to "Logout", "/logout", class: "text-white dark:text-black" %>
            </div>
          -->
          <div class="text-center relative min-w-32">
          <% if @current_user.present? %>
            <button id="desktop-user-button" class="mx-auto text-tertiary-default dark:text-secondary-default text-lg font-semibold cursor-pointer p-2 transform hover:scale-x-110 hover:scale-y-105 transition duration-300 ease-out rounded-md">
              <%= @current_user.username %>
            </button>
            <div id="desktop-user-dropdown" class="absolute w-full hidden top-8 py-2 z-20">
              <div class="relative mx-auto w-32 shadow-xl dark:bg-black dark:border dark:border-secondary-default bg-white rounded-md shadow-xl">
                <%= link_to "#{t("user.profile")}", "/#{I18n.locale || :it}/user/#{@current_user.id}/profile",  class:"block rounded-t-md px-4 py-2 text-sm text-black hover:bg-tertiary-default hover:text-white dark:hover:text-secondary-default dark:text-secondary-default" %>
                <%= link_to "#{t("user.settings")}", "/#{I18n.locale || :it}/user/#{@current_user.id}/settings",  class:"block px-4 py-2 text-sm text-black hover:bg-tertiary-default hover:text-white dark:hover:text-secondary-default dark:text-secondary-default" %>
                <%= link_to "#{t("user.logout")}", "/logout", id:"logout-desktop",  class:"block rounded-b-md px-4 py-2 text-sm text-black hover:bg-tertiary-default hover:text-white dark:hover:text-secondary-default dark:text-secondary-default" %>
              </div>
            </div>
          <% end %>

        </div>
      </nav>
      <% if @current_user.present? %>
        <nav class="shadow-xl dark:bg-tertiary-default flex sm:hidden justify-between items-center p-2 border-gray-200">
          <%= link_to "/" do %>
            <div class="flex flex-start items-center px-2 rtl:space-x-reverse cursor-pointer">
              <img src="/images/icons/home_tertiary.png" class="h-8 dark:hidden transform hover:scale-x-110 hover:scale-y-105 transition duration-300 ease-out" alt="Home" />
              <img src="/images/icons/home_secondary.png" class="h-8 hidden dark:block transform hover:scale-x-110 hover:scale-y-105 transition duration-300 ease-out" alt="Home" />
            </div>
          <% end %>
          <div class="flex flex-row-reverse items-center" >
            <%= link_to "/logout", id:"logout-mobile" do %>
              <div class="flex flex-end items-center space-x-3 px-2 rtl:space-x-reverse cursor-pointer">
                <img src="/images/icons/logout_primary.png" class="h-8 transform hover:scale-x-110 hover:scale-y-105 transition duration-300 ease-out" alt="Settings" />
                <!--<img src="/images/icons/logout_tertiary.png" class="h-8 hidden dark:block" alt="Settings" />-->
              </div>
            <% end %>
            <%= link_to "/#{I18n.locale || :it}/user/#{@current_user.id}/settings" do %>
              <div class="flex flex-end items-center space-x-3 px-2 rtl:space-x-reverse cursor-pointer">
                <img src="/images/icons/setting_secondary.png" class="h-8 transform hover:scale-x-110 hover:scale-y-105 transition duration-300 ease-out" alt="Settings" />
                <!--<img src="/images/icons/setting_tertiary.png" class="h-8 hidden dark:block" alt="Settings" />-->
              </div>
            <% end %>
            <div class="flex flex-end items-center space-x-3 rtl:space-x-reverse cursor-pointer">
                <%= button_to @current_user.username, "/#{I18n.locale || it}/user/#{@current_user.id}/profile", :method => "get",  class: "mx-auto text-tertiary-default dark:text-secondary-default text-lg font-semibold cursor-pointer p-2 transform hover:scale-x-110 hover:scale-y-105 transition duration-300 ease-out rounded-md" %>
            </div>
          </div>
        </nav>
      <% end %>
      
      <div class="flex-1 overflow-hidden bg-light-background-default flex justify-center align-middle relative">
        <% if flash.present? %>
          <div id="flash-messages" class="absolute z-50 top-2 sm:top-2 flex justify-center items-center m-auto">
            <% if flash[:notice].present? %>
              <div id="notice-message" class="m-auto bg-success-default bg-opacity-25 text-success-default py-2 px-4 rounded-md text-center">
                <%= flash[:notice] %>
                <button id="close-button" class="text-success-default ml-2 focus:outline-none">X</button>
              </div>
            <% elsif flash[:alert].present? %>
              <div id="error-message" class="m-auto bg-warning-default bg-opacity-25 text-warning-default py-2 px-4 rounded-md text-center">
                <%= flash[:alert] %>
                <button id="close-button" class=" text-warning-default ml-2 focus:outline-none">X</button>
                </div>
            <% elsif flash[:error].present? %>
              <div id="error-message" class="m-auto bg-error-default bg-opacity-25 text-error-default py-2 px-4 rounded-md text-center">
                <%= flash[:error] %>
                <button id="close-button" class="text-error-default ml-2 focus:outline-none">X</button>
                </div>
            <% end %>
          </div>
        <% end %>
        
        <%= yield %>

      </div>
    </main>
  </body>
<% end %>
</html>



