<!DOCTYPE html>
<html>
  <head>
    <title>guess all</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
 
    <%= javascript_importmap_tags %>



  </head>

  <body>
    <main class="w-screen min-h-screen bg-white dark:bg-black flex flex-col">
      <nav class="bg-secondary-default dark:bg-tertiary-default hidden sm:flex justify-between items-center p-4 border-gray-200 mb-10">
        <div class="flex items-center space-x-3 rtl:space-x-reverse flex-1">
          <img src="/images/logo.png" class="h-8" alt="Flowbite Logo" />
          <span class="self-center text-2xl font-semibold whitespace-nowrap text-white dark:text-black">Guess All</span>
        </div>
        <div class="flex justify-center flex-1">
          <!-- Locale toggle buttons -->
          <!--<div class="max-w-xs bg-tertiary-default cursor-pointer p-2 transform hover:scale-x-110 hover:scale-y-105 transition duration-300 ease-out rounded-md text-white dark:text-black">-->
            <% if I18n.locale == :en %>
            <div class="max-w-xs cursor-pointer p-2 transform hover:scale-x-110 hover:scale-y-105 transition duration-300 ease-out rounded-md text-white dark:text-black">
              <%= link_to "Italiano", url_for(locale: 'it'), class: "text-white dark:text-black" %>
            </div>
            <div class="max-w-xs bg-secondary-default p-2 rounded-md text-white dark:text-black">
              English
            </div>
            <% else %>
              <div class="max-w-xs bg-secondary-default p-2 rounded-md text-white dark:text-black">
                Italiano
              </div>
              <div class="max-w-xs cursor-pointer p-2 transform hover:scale-x-110 hover:scale-y-105 transition duration-300 ease-out rounded-md text-white dark:text-black">
                <%= link_to "English", url_for(locale: 'en'), class: "text-white dark:text-black" %>
              </div>
            <% end %>
        </div>

        <div class="flex justify-end flex-1">
          <!-- Logout button -->
            <% if current_user.present? %>
              <div class="max-w-xs bg-primary-default cursor-pointer p-2 transform hover:scale-x-110 hover:scale-y-105 transition duration-300 ease-out rounded-md text-white dark:text-black">
                <%= link_to "Logout", "/logout", class: "text-white dark:text-black" %>
              </div>
            <% end %>
        </div>
      </nav>

    <div class="flex-1 overflow-hidden bg-light-background-default flex justify-center align-middle relative">
      <% if flash.present? %>
        <div id="flash-messages" class="absolute top-2 left-0 w-full flex justify-center items-center ">
          <% if flash[:notice].present? %>
            <div id="notice-message" class="m-auto bg-success-default bg-opacity-25 text-success-default py-2 px-4 rounded-md text-center">
              <%= flash[:notice] %>
              <button id="close-button" class="text-success-default ml-2 focus:outline-none">X</button>
            </div>
          <% elsif flash[:alert].present? %>
            <div id="error-message" class="m-auto bg-warning-default bg-opacity-25 text-warning-default py-2 px-4 rounded-md text-center">
              <%= flash[:alert] %>
              <button id="close-button" class=" text-warning-default ml-2 focus:outline-none">X</button>
              </div>
          <% elsif flash[:error].present? %>
            <div id="error-message" class="m-auto bg-error-default bg-opacity-25 text-error-default py-2 px-4 rounded-md text-center">
              <%= flash[:error] %>
              <button id="close-button" class="text-error-default ml-2 focus:outline-none">X</button>
              </div>
          <% end %>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </main>
